
a, a:hover{
	text-decoration:none;
}




.searchSection{
	margin-bottom: 100px;
}
.searchTitle{
	color: #ff9a36;
	font-family: 'Lobster 1.3';
	font-size:36px;
	margin-top: 80px;
	text-align: center;
}
.searchSubTitle{
	color: #495c7d;
	font-size:16px;
	font-style: italic;
	margin-top: 40px;
	text-align: center;
}
.searchBlock{
	max-width: 980px;
	margin: 0 auto;
	padding-top: 90px;
}
.selectSearch{
	width: 100%;
	border: 0;  /*Removes border*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/
/*	background: url('../imgSearch/drop.png') no-repeat;  
	background-position:right;
*/	background-color: white;
	text-indent: 0.01px;
 	text-overflow: "";
 	padding:10px 10px;
 	height: 54px;
 	font-size:16px;
 	font-weight: bold;
 	color: gray;
}
select::-ms-expand {
    display: none;
}

.searchInput{
	width: 95%;
}
.selectSearch, .dropimg{
	float: left;
}
.dropimg{
	margin-left:-30px;
	padding-top:15px;
}
.searchInput{
	border: solid #ff9a36 2px;
	padding:15px 15px;
	float: left;
	font-weight: bold;
	font-size: 16px;
}
.btnInput{
	float:left;
	margin-left: -40px;
	margin-top: 20px;
}
.expertSection{
}
.expertRow{
	margin:0 auto;
	max-width: 840px;
	margin-bottom:60px;
}
/*.eleftBlock{
	margin: 0 auto;
	max-width:440px; 
	min-height: 150px;
}*/
.eleft{
	/*text-align: center;*/
}
.eright{
}
.eImg, .eDetail{
}
.eImg{
	margin-top: 15px;
}
.eDetail{
	text-align: left;
	margin-top:30px;
	width: 60%;
	padding-left: 30px;
	padding-right: 80px;
}
/*.eDetail>div{
	padding-left: 30px;
}*/
.eName{
	font-size: 16px;
	font-weight: bold;
	color: #495c7d;
}
.eRole{
	font-size: 14px;
	color: #495c7d;
}
.eContent{
	font-size: 14px;
	color: #495c7d;
}
.requestBtn{
	background-color: #ff9a36;
	width: 250px !important;
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
	padding: 25px 0px;
	cursor:pointer;
	margin-top: 40px;
	text-align: center;
}













