@media (max-width: 767px){

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) {

}
.homecss{
	background: url('../../assets/img/bg1.jpg') no-repeat center top !important;
	font-family: 'lato';
	min-width: 320px;
	padding:0;
}
.center{
	margin: 0 auto;
	text-align: center;
}
.topbarbg{
	background: url('../../assets/img/topbar.png') ;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
}

.logoBlock{
	float: left;
}
.logoBlock>img{
	height: 90%;
	max-height: 50px;
	margin-top: 7px;
}
.loginBlock{
	float: right;
}
.loginBtnBlock{
	/*min-width: 350px;*/
	height: inherit;
}
.tutorLoginBtn,.loginBtn{
	float: left;
	margin: 12px 10px;
}

.tutorLoginBtn{
	color: white;
	padding: 10px 0px;
	background-color: #f99734;
	width: 130px;
}
.loginBtn{
	color: white;
	padding: 10px 0px;
	background-color: #495c7d;
	width: 130px;
}

.topbarSection{
	height: 65px;
	/*width: 100%;*/
}

.topbarInner{
	height: inherit;
	margin: 0 auto;
	max-width: 1024px;
}
.logoBlock{
	/*background-color:blue;*/
	height: inherit;
}
.loginBlock{
	/*background-color:green;*/
	height: inherit;
}
.questionSection{
	margin-top: 150px;
	height: 450px;
}

.questionBlock{
	max-width: 450px;
	float: right;
	margin-right: 10%;
}

.questionTitle{
	font-weight: bold;
	font-size: 46px;
}
.questionAnswer1{
	font-size: 38px;
		margin-left: 0px !important;
}
.questionAnswer2{
	font-size: 18px;
	margin-top: 12px;
	margin-left: 0px !important;
}

.questionBtn{
	margin-top: 50px;
	height: 50px;
}
.questionBtnCell{
	width: 350px;
	height: inherit;
}
.questionBtnCell>div{
	margin: 0 10px;
}
.oringeBtn,.blueBtn{
	float: left;
}
.oringeBtn>a{
	color: white;
	padding: 15px 20px;
	background-color: #f99734;
	text-transform:uppercase;
}
.blueBtn>a{
	color: white;
	padding: 15px 20px;
	background-color: #66aef3;
	text-transform:uppercase;
}

.topLinksSection{
	margin-top: 60px;
	max-width: 767px;
}
.topLinksCellInner{
	max-width: 150px;
	text-align: center;
}
.topLinksImg>img{
	max-height: 95px;
}
.topLinksTxt{
	font-size: 18px;
	margin-top: 20px;
}
.videoSection{
	border:1px solid red;
	width: 95%;
	height: 500px;
	margin-top: 100px;
}
.video-container{
	margin-top: 40px !important;
}
.video-container iframe{
	border:1px solid gray;
}
.getStartedNowSection{
	border: 1px solid black;
	height: 100px;
}
.gauranteedSection{
	border:1px solid red;
	height: 400px;
}
.satisfactionTitle{
	font-size: 23px;
	font-weight: bold;
	color: black;
}
.satisfactionDesc{
	font-size: 17px;
	font-weight: bold;
	color: black;
}
.satisfaction img{
	width: 220px !important;
}
.expertsSection{
	border: 1px solid black;
	height: 650px;
	margin-top: 80px;
}
.experts{
	max-width: 900px;
	margin: 0 auto;
	margin-top: 30px;
}
.container-narrow{
	min-height: 10px;
	max-width: 800px !important;
	width: 800px;
}




/*	@media (max-width: 450px){
	.homecss{
		background: url('../../assets/img/bg1.jpg') no-repeat center top !important;
		

	}
(min-width: 451px) and
}*/

@media  (max-width: 767px){
	.homecss{
		background: url('../../assets/img/bg2.jpg') no-repeat center top !important;
		

	}
	.container-narrow{
		max-width: 99%;
	}
	.topbarbg{
	position: relative;
	}
	.logoBlock>img{
		margin-top: 7px;
		height: 70%;
	}
	.tutorLoginBtn,.loginBtn{
		padding: 5px 0px;
		width: 90px;
		margin: 7px 5px;
	}
	.topbarSection{
		height: 40px;
		padding: 0px !important;
	}
	.questionSection{
		margin-top: 10px;
		height: 260px;
		min-width: 200px;
	}
	.questionTitle,.questionAnswer1,.questionAnswer2{
		text-align: center;
	}
	.questionTitle{
		font-size: 18px;
	}
	.questionAnswer1{
		font-size: 15px;
	}
	.questionAnswer2{
		font-size: 10px;
		margin-top: 6px;
	}
	.questionBlock{
		/*float: right !important;*/
		margin-left: 20%;
		width: 150px !important;
		/*
		max-width: 60%;
		min-width: 330px;*/
	}
	.questionBtn{
		margin-top:20px; 
	}
	.oringeBtn>a{
	color: white;
	padding: 10px 5px;
	background-color: #f99734;
	text-transform:uppercase;
	font-size: 10px;
	}
	.blueBtn>a{
		color: white;
		padding: 10px 5px;
		background-color: #66aef3;
		text-transform:uppercase;
		font-size: 10px;
	}
	.blueBtn{
		margin-top: 25px !important;
		margin-left: 23px !important;
	}
	.questionBtnCell {
		width: 115px;
	}
	.questionBtnCell>div{
		margin: 0 5px;
	}
	.topLinksSection {
		margin-top: 50px;
	}
	.topLinksImg>img{
		height: 60px;
	}
	.topLinksTxt {
		font-size: 14px;
		margin-top: 10px;
	}
	.experts img {
		max-width: 90%;
		width: 90px;
	}
	.satisfaction img {
		max-width: 150px !important;
		width: 150px;
	}
	.footer-header-links{
		width: 100% !important;
		margin-left: 0 !important;
	}
	.container-narrow{
		width: 100%;
		margin-top: 0px;
	}
}


@media (min-width: 1200px) {

.questionBlock{
	margin-left: 50% !important;
}
.homecss{
	background: url('../../assets/img/bg3.jpg') no-repeat center top !important;
}

}